html {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleScreen {
  background-image: url("/images/initial_menu.png");
  border: 5px solid #84853d;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1400px;
  height: 600px;
  position: absolute;
}

.gameTitle-btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: Transparent;
  font-size: 75px;
  font-weight: bold;
  color: black;
  border: 7px solid #84853d;
  margin-left: 425px;
  margin-top: 80px;
}

.start-btn {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  width: 220px;
  margin: 5px;
  padding: 10px 5px;
  color: black;
  background-color: #84853d;
  border: none;
  margin-left: 600px;
  margin-top: 200px;
}

.start-btn:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #0d2dbd;
}

.restart-btn {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  display: none;
  top: 300px;
  left: 880px;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  width: 220px;
  margin: 5px;
  padding: 10px 5px;
  color: black;
  background-color: #84853d;
  border: none;
}

.restart-btn:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #0d2dbd;
}